
// Only variables can be placed here,
// and other files such as themes cannot be introduced,
// otherwise it will affect the packaging speed.

/* theme color */
$--color-primary: #4686FF;
$--color-success: #52C41A;
$--color-warning: #FAAD14;
$--color-danger: #FA5555;
$--color-info: #909399;

// $--button-font-weight: 400;

// $--color-text-regular: #1f2d3d;
// $--border-color-light: #dfe4ed;
// $--border-color-lighter: #e6ebf5;
// $--table-border: 1px solid #dfe6ec;

$--colors: (
  "primary": (
    "base": #4686FF,
  ),
  "success": (
    "base": #52C41A,
  ),
  "warning": (
    "base": #FAAD14,
  ),
  "danger": (
    "base": #FA5555,
  ),
  "error": (
    "base": #db2828,
  ),
  "info": (
    "base": #909399,
  ),
);

// :export {
//   colorPrimary: $--color-primary;
// }
