// Only variables can be placed here,
// and other files such as themes cannot be introduced,
// otherwise it will affect the packaging speed.

/* theme color */
// $color-primary: #4686FF;
$color-primary: #3c40c6;
$color-success: #52c41a;
$color-warning: #faad14;
$color-danger: #fa5555;
$color-info: #909399;
$--colors: (
  "primary": (
    "base": $color-primary,
  ),
  "success": (
    "base":  $color-success,
  ),
  "warning": (
    "base":  $color-warning,
  ),
  "danger": (
    "base":  $color-danger,
  ),
  "info": (
    "base":  $color-info,
  ),
);

// 按需导入，重写覆盖自己所需样式

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors,
  $text-color: (
    "primary": initial,
    "regular": #606266,
    "secondary": #909399,
    "placeholder": #c0c4cc,
  ),
  $border-radius: (
    "base": 4px,
    "small": 2px,
    "round": 20px,
    "circle": 100%,
  ),
);

// :export {
//   colorPrimary: $color-primary;
// }
